[user]
	name = Evan Kirshenbaum
	email = evan.kirshenbaum@hp.com
[core]
	editor = emacs -nw
	autocrlf = true
[push]
	default = current
[diff]
	colorMoved = default
	tool = meld
[pull]
	rebase = false
[difftool "meld"]
	cmd = meld `cygpath -w "$LOCAL"` "$REMOTE"
[difftool]
	prompt = false
